canvas {
    position: absolute; /* Ensure the canvas is positioned absolutely */
    top: 0px; /* Move the canvas up by 5px */
    left: 0px; /* Move the canvas left by 5px */
    z-index: 0;
    width: calc(100% + 10px); /* Increase the width by 10px */
    height: calc(100% + 10px); /* Increase the height by 10px */
    display: block;
}

body {
    margin: 0;
    overflow: hidden;
}