body {
    margin: 0;
    overflow: hidden;
  }
  
.outer {
  display: grid;
  grid-template: 1fr / 1fr;
  justify-content: center;
}
.outer > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
.outer .below {
  z-index: 1;
}
.outer .top {
  z-index: 2;
}

.noclick {
  pointer-events: none;
}

.overflow-div {
  width: 300px; /* Set the width of the div */
  height: 400px; /* Set the height of the div */
  overflow: auto; /* Allow the div to overflow */
  border: 1px solid black; /* Optional: Add a border for visibility */
}