::-webkit-scrollbar {
    display: none;
  }
  html {
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }
  body {
    overflow-y: visible;
    position: relative;
    overflow-x: hidden;
  }

  html,
  body {
    margin: 0;
  }
  
  .container {
    width: 600vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  
  .panel {
    width: 100vw;
    height: 100vh;
    place-content: center;
    align-items: center;
    display: flex;
    will-change: transform;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 90%;
    margin-top: 20px;
  }

  .project-container h1 {
    display: block;
    margin: 0;
    padding: 0;
  }

  .project-container h2 {
    display: block;
    margin: 0;
    padding: 0;
    opacity: 0.5;
  }
  
  .project-container p {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-size: 1.5rem;
  }

  .project-container img {
    width: 75%;
    height: 65%;
    object-fit: fill;
    margin-top: 20px;
  }

  .project-container a {
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  .project-container ul {
    text-align: left;
    align-items: left;
    margin-top: 5px;
    line-height: 1.5;
  }
  .project-container li {
    text-align: left;
    align-items: left;
    font-size: 1.25rem;

  }

  .margin-top {
    margin-top: 20px;
  }

  