::-webkit-scrollbar {
    display: none;
  }
  html {
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }
  body {
    overflow-y: visible;
    position: relative;
    overflow-x: hidden;
  }

  html,
  body {
    margin: 0;
  }
  
  .container {
    width: 600vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  
  .panel {
    width: 100vw;
    height: 100vh;
    place-content: center;
    align-items: center;
    display: flex;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
  }

  .project-container h1 .project-container p {
    display: block;
    margin: 0;
    padding: 0;
  }