/* Add this to your CSS file */


.navbar-container {
    top: 0;
    z-index: 1000;
    position: fixed;
    justify-content: center;
    width: 100%;
  }
  
  .no-click {
    pointer-events: none;
  }
  
  .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      position: sticky;
      width: 100%;
      margin-top: 10px;
      top: 0;
      left: 0;
      padding: 1rem;
      background: transparent;
      transition: opacity 1s ease-out;
    }
    
    .navbar.fade-out {
      opacity: 0;
    }
    
    .navbar-logo {
      margin-right: 1.5rem; 
      margin-left: 1.5rem;
      margin-top: 10px;
    }
    
    .navbar-logo a {
      color: #000;
      text-decoration: none;
      font-size: 3rem;
      line-height: 0;
      display: inline-block;
    }
    
    .navbar-links {
      display: flex;
      justify-content: center; /* Center the links horizontally */
      align-items: flex-end; /* Align the links to the bottom of the navbar */
      gap: 1rem; /* Adjust the gap between links as needed */
      align-self: flex-end; /* Align the links to the bottom of the navbar logo */
    }
    
    .navbar-links div {
      margin: 0 0.5rem; /* Adjust the margin between links as needed */
    }
    
    .navbar-links a {
      color: #000;
      text-decoration: none;
      font-size: 2rem;
    }
  